
.fg-color-black { color: black; }
.fg-color-white { color: white; }
.fg-color-blue { color: #7070ff; }
.wd-color-red { color: #ff7070; }
.fg-color-green { color: green; }



.wd-bg-color-black {
    background-color: black;
}

.wd-bg-color-darkgray {
    background-color: DarkGray;
}

.wd-border-color {
    border-color: rgb(47, 51, 54);
}

.wd-input{
    padding: 5px 25px 5px 25px;
    width: 70%;
    color: white;
    background-color: Darkgray;
    border: none;
    border-radius: 15px 15px 15px 15px;
}

.wd-selected {
    color:rgb(29,161,242);
    border-bottom: rgb(29,161,242);
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 16px;
}

.wd-not-selected {
    color:rgb(110,118,125);
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 16px;
}

.wd-setting-icon{
    color: rgb(29, 161, 242);
    float: right;
    text-decoration: none;
    font-size: 30px;
    margin-right: 12px;
}

.wd-highlight-color {
    color: rgb(29, 161, 242);
}

.wd-normal-link-color {
    color: rgb(110, 118, 125);
}

.wd-hyperlinks-horizontal {
    display: inline-block;
    padding: 16px;
    font-size: 15px;
}

.wd-posts{
    list-style-type: none;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-color: rgb(110,118,125);
    margin:0px;
    padding:0px;
}
.wd-posts-info{
    font-size: 13px;
    color: rgb(110,118,125);
    margin-left: 16px;
}

.wd-posts-info2{
    font-size: 13px;
    color: rgb(110,118,125);
    margin-left: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.wd-posts-icon{
    float: right;
    font-size: 20px;
    color: rgb(110,118,125);
    margin-right: 12px;
}

.wd-posts-info-b{
    font-size: 13px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.wd-posts-title{
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
}

.wd-posts-boarder{
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-color: rgb(110,118,125);
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.wd-right-image{
    float: right;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin-right: 16px;
}
.wd-bottom-border {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(110,118,125);
}
