.wd-border-radius-more {
    border-radius: 15px;
    border-color: dimgray;
    border: 1px;
}
.wd-border-radius-1 {
    border-radius: 15px;
    border-color: dimgray;
    border: 1px;
}
.link-no-underline {
    text-decoration: none;
    color: #599ed8;
}
.link-no-underline-white {
    text-decoration: none;
    color: black;
}
.wd-font-color{
    color: gray;
}
.wd-icon-bold {
    stroke-width: 1
}